@model IEnumerable<NewsWebsite.Data.Entities.Post>
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var stt = 1;
}
<head>
    <link href="~/Areas/Admin/Assets/css/style.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Assets/js/controller/BaseController.js"></script>
</head>
<div style="margin-left:5px">
    <h2 style="margin-left:5px">Quản lý bài viết</h2>

    <div>
        <a href="/Admin/Post/CreateHandle" class="btn btn-primary" style="margin-left:5px; float:left"><i class="fa fa-plus"></i> Tạo bài viết</a>
        <form action="/Admin/tim-kiem/" + getSearchString() method="get" class="form-group" style="float:right">
            <input type="text" id="txtSearchString" name="searchString" class="form-control" style="width:400px; float:left" />
            <script>
                function getSearchString() {
                    return document.getElementById('txtSearchString').value;
                }
            </script>
            <span>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Tìm kiếm</button>
            </span>
        </form>
    </div>

    <table class="table table-hover table-light">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tiêu đề</th>
                <th>Người đăng</th>
                <th>Thời gian</th>
                <th>Danh mục</th>
                <th>Trạng thái</th>
                <th><input type="checkbox" /> Đánh dấu</th>
                <th colspan="2">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@stt</td>
                    <td>@item.Title</td>
                    <td>@item.CreatedBy</td>
                    <td>@Convert.ToDateTime(item.CreatedTime).ToString("HH:mm:ss dd/MM/yyyy")</td>
                    <td>@item.CategoryId</td>
                    <td>
                        @{
                            if (item.PostStatus == 1)
                            {
                                @Html.Raw("<span class=\"badge badge-success\">Action</span>");
                            }

                            else
                            {
                                @Html.Raw("<span class=\"badge badge-danger\">Locked</span>");
                            }
                        }
                    </td>

                    <td><input type="checkbox" /></td>

                    <td><a href="/Admin/Post/EditPost/@item.Id" class="btn btn-warning">Sửa</a></td>
                    <td><a href="#delete-modal-@item.Id" data-toggle="modal" class="btn btn-danger">Xóa</a></td>
                </tr>
                stt += 1;
                <!-- Modal -->
                <div class="modal fade" id="delete-modal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Xóa bài viết này ?
                            </div>
                            <div class="modal-footer">
                                <a href="/Admin/Post/DeletePost/@item.Id" class="btn btn-primary">Đồng ý</a>
                                <a href="#" type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>

