@model IEnumerable<NewsWebsite.Data.Entities.Post>
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Areas/Admin/Assets/css/style.css" rel="stylesheet" />
</head>
<div style="margin-left:5px">
    <h2>Quản lý bài viết</h2>

    <div>
        <a href="/Admin/Post/CreateHandle" class="btn btn-primary" style="float:left"><i class="fa fa-plus"></i> Tạo bài viết</a>
        <form action="/Admin/Post/SearchHandle" method="post" class="form-group" style="float:right">
            <input type="text" name="searchString" class="form-control" style="width:400px; float:left" />
            <span>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Tìm kiếm</button>
            </span>
        </form>
    </div>

    <table class="table table-hover table-light">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tiêu đề</th>
                <th>Người đăng</th>
                <th>Thời gian</th>
                <th>Danh mục</th>
                <th>Trạng thái</th>
                <th colspan="2">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.CreatedBy</td>
                    <td>@Convert.ToDateTime(item.CreatedTime).ToString("HH:mm:ss dd/MM/yyyy")</td>
                    <td>@item.CategoryId</td>
                    <td>@item.PostStatus</td>
                    <td><a href="/Admin/Post/EditPost/@item.Id" class="btn btn-warning">Sửa</a></td>
                    <td><a href="/Admin/Post/DeletePost/@item.Id" class="btn btn-danger">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

