@model IEnumerable<NewsWebsite.Data.Entities.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script>
    function Update(categoryName, id) {
        document.getElementById("btnSave").setAttribute("value", "Lưu");
        document.getElementById("btnSave").setAttribute("class", "btn btn-warning");
        document.getElementById("txtCategoryName").value = categoryName;
        document.getElementById("frmCategory").action = "/Admin/Category/Update";
        var action = document.createElement("input");
        action.setAttribute("type", "hidden");
        action.setAttribute("name", "Id");
        document.getElementById("frmCategory").appendChild(action);
        document.getElementsByName("Id")[0].setAttribute("value", id);
    }
</script>

<div style="margin-left:5px">
    <h2>Quản lý danh mục</h2>

    @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { id = "frmCategory" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <br />
            @Html.ValidationSummary()

            <div class="form-group">
                <label>Tên danh mục</label>
                <div class="col-md-10">
                    <input id="txtCategoryName" type="text" class="form-control" name="CategoryName" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnSave" type="submit" value="Thêm" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
    <br />

    <table class="table table-hover table-light">
        <tr>
            <th>ID</th>
            <th>Tên danh mục</th>
            <th>Người tạo</th>
            <th>Ngày tạo</th>
            <th><input type="checkbox" /> Đánh dấu</th>
            <th colspan="2">Chức năng</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CategoryName</td>
                <td>@item.CreatedBy</td>
                <td>@item.CreatedTime</td>
                <td><input type="checkbox" /></td>
                <td><button class="btn btn-warning" onclick='Update("@item.CategoryName", @item.Id)'>Sửa</button></td>
                <td><a class="btn btn-danger text-white" data-toggle="modal" href="#delete-modal-@item.Id">Xóa</a></td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="delete-modal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Xóa danh mục này ?
                        </div>
                        <div class="modal-footer">
                            <a href="/Admin/Category/Delete/@item.Id" class="btn btn-primary">Đồng ý</a>
                            <a href="#" type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </table>
</div>